TimeManagementAssistant/obj/
TimeManagementAssistant/bin/
TimeManagmentAssistantCode/obj/
TimeManagmentAssistantCode/bin/
TimeManagementAssistant/Properties/
TimeManagmentAssistantCode/Properties/
packages/
.vs/